<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppTestSuite" >
    <test name="CompleteAppTest">
        <classes>
            <class name="TestCases.LoginTest"/>
<!--            <class name="TestCases.EventTest"/>-->
<!--            <class name="TestCases.OrganizationTest"/>-->
<!--            <class name="TestCases.OrganizationEditTest"/>-->
<!--            <class name="TestCases.OrganizationEditVenueTest"/>-->
            <class name="TestCases.OrgEventTest"/>
        </classes>
    </test>
</suite>